@import url(variables.css);

.page#list {
  gap: 1.5rem; 
  overflow-x: auto;
  position: relative;
}

.panel {
  display: flex;
  flex-direction: column;
  min-width: 30rem;
  position: relative;
}

.panel header {
  text-align: center;
  padding: 1rem;
  border-bottom: 2px solid var(--clr-light-grey);
}

.panel header.with-arrow {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.panel header > h2 {
  color: var(--clr-dark-grey);
}

.panel header > svg path {
  fill: var(--clr-dark-grey);
}

.panel .panel-content {
  position: relative;
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
 
.panel ul {
  list-style: none;
  flex: 1;
}

.del-list {
  position: absolute;
  right: 0;
  top: 0;
  margin: .5rem;
  /* width: 1.4rem; */
}

.del-list path {
  fill: var(--clr-dark-grey);
}

form.add-todo {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.todo-blank {
  position: absolute;
  display: grid;
  gap: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  text-align: center;
}

.todo-blank p{
  color: var(--clr-dark-grey);
}

.list-blank {
  width: 100%;
  position: absolute;
  inset: 0;
  display: grid;
  gap: 1rem;
  place-items: center;

}

.list-blank img {
  width: 30rem;
  margin-top: -10rem;
}

/* --- todo --- */

.todo {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-block: .5rem;
}

.todo {
  border-bottom: 2px solid var(--clr-light-grey);
}

.todo .todo-input {
  flex: 1;
  border: none;
  color: var(--clr-black);
  font-size: 1rem;
  padding: .5em;
}

.todo .todo-input:focus-visible {
  outline: none;
}

.todo input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

/* --todo-tag -- */
.todo.todo-tag {
  display: block;
}

.todo-tag div:first-child {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.todo-tag div:first-child input[type="text"] {
  flex: 1;
}

/* -- todo-pick-calendar -- */
.todo.todo-pick-calendar {
  display: block;
  background-color: var(--clr-white);
  padding-inline: .5rem;
  border-bottom: none;
  border-radius: .3rem;
  margin-bottom: .5rem;
}

.todo.todo-pick-calendar div:first-child {
  display: flex;
  align-items: start;
  gap: 1rem;
}

.todo.todo-pick-calendar input[type="checkbox"] {
  margin-top: .6rem;
  margin-left: .5rem;
}

.todo.todo-pick-calendar input[type="date"] {
  flex: none;
  border: 1px solid var(--clr-white);
  width: 2.5rem;
  color: transparent;
}

input[type="date"]:focus {
  background: transparent;
}

.todo-pick-calendar span {
  display: block;
  margin-left: 2.5rem;
  font-style: italic;
  color: var(--clr-dark-grey);
}

/* --- tags --- */
.tags {
  display: flex;
  gap: .3rem;
}

.tag {
  font-size: .8rem;
  background-color: var(--clr-secondary);
  padding: .5em 1em;
  border-radius: 100vmax;
  color: var(--clr-white);
  font-weight: bold;
  letter-spacing: .05em;
}
