@import url(variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Mulish', sans-serif;
  color: var(--clr-black);
}

body {
  background-color: var(--clr-background);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  color: var(--clr-accent);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

main {
  flex: 1;
  display: flex;
}

.page {
  padding: 2rem;
  width: 100vw;
  /* display: none; */
}

.card {
  background-color: var(--clr-white);
  border-radius: .2rem;
  box-shadow: var(--drop-shadow);
}

button.icon {
  background-color: transparent;
  border: none;
}

button.icon > svg {
  width: 1.5rem;
  /* height: fit-content; */
}

button.icon > svg > path {
  fill: var(--clr-grey);

}

input, textarea {
  color: var(--clr-black);
  font-size: 1rem;
  padding: .5em;
  border: 2px solid var(--clr-light-grey);
  border-radius: .2rem;
}

:is(input, textarea):focus-visible {
  outline-color: var(--clr-primary);
}

.input-labeled {
  display: grid;
  position: relative;
  margin-bottom: 1.8rem;
}

.input-labeled label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1em;
  color: var(--clr-dark-grey);
  transition: all 0.3s ease-in;
}

.input-labeled input {
  padding: 1em;
}

label.label-small {
  font-size: .8rem;
  top: -1.5em;
  transform: translateY(0);
  margin-left: 0;
}

.btn {
  background-color: var(--clr-primary);
  border-radius: .2rem;
  color: var(--clr-white);
  padding: .5rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border: none;
  width: 100%;
}

.btn-big {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  padding: 1rem;
}

.panel {
  width: 30rem;
}

.snackbar {
  visibility: hidden;
  background-color: var(--clr-white);
  box-shadow: var(--drop-shadow);
  color: var(--clr-black);
  text-align: center;
  border-radius: 100vmax;
  padding: 1rem;
  position: fixed;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  font-size: 1rem;
}

.snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}